---
interface Props {
  image: string;
  title: string;
  subtitle?: string;
}

const {
  image,
  title,
  subtitle = "Se afgange"
} = Astro.props;

import Button from "../components/button.astro";
---

<div class="card" style=`background-image: url(${image})`>

  <img src={image} alt={title} />

  <div class="overlay"></div>


  <div class="content">
    <Button title="90 dage" variant="primary" style="border-radius: 50px;"/>
    <h3>{title}</h3>
    <p>{subtitle}</p>
  </div>
</div>

<style>
.card {
  position: relative;
  width: 320px;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.2)
  );
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}

.content h3 {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.content p {
  font-size: 14px;
  opacity: 0.9;
}

</style>
